import(methods)
import(BiocGenerics)
import(S4Vectors)
import(GenomicRanges)
import(shiny, except=c(renderDataTable, dataTableOutput)) ## 'except' to avoid
                                                          ## namespace clash with 'DT'


importClassesFrom(GenomeInfoDb, Seqinfo, GenomeDescription)

importMethodsFrom(Biostrings, match)
importMethodsFrom(BSgenome, snpcount,
                            snplocs,
                            snpsByOverlaps,
                            referenceGenome)
importMethodsFrom(GenomeInfoDb, "seqinfo<-",
                                seqlevels,
                                "seqlevels<-",
                                seqlevelsStyle,
                                "seqlevelsStyle<-",
                                "isCircular",
                                "isCircular<-",
                                genome,
                                "genome<-",
                                provider,
                                providerVersion,
                                releaseName)
importMethodsFrom(IRanges, start,
                           width,
                           flank,
                           nchar,
                           unlist,
                           which,
                           order,
                           togroup,
                           values,
                           findOverlaps,
                           as.vector,
                           coverage,
                           Views,
                           viewMeans)
importMethodsFrom(AnnotationHub, query,
                                 cache)

importFrom(utils, data,
                  packageDescription,
                  capture.output,
                  as.person,
                  bibentry)

importFrom(XML, xmlGetAttr,
                htmlTreeParse)

importFrom(Biobase, createPackage)

importFrom(GenomeInfoDb, seqnames,
                         keepStandardChromosomes,
                         keepSeqlevels,
                         renameSeqlevels,
                         restoreSeqlevels,
                         extractSeqlevelsByGroup,
                         seqlengths,
                         seqinfo,
                         Seqinfo)

importFrom(IRanges, IRanges,
                    IRangesList,
                    RleList,
                    IntegerList,
                    CharacterList)

importFrom(Biostrings, DNA_BASES)

importFrom(AnnotationHub, AnnotationHub,
                          getAnnotationHubOption)

importFrom(shinyjs, useShinyjs, showElement, hideElement)

importFrom(shinythemes, shinytheme)

importFrom(data.table, as.data.table)

importFrom(rtracklayer, import, export)

importFrom(shinycustomloader, withLoader)

importFrom(DT, dataTableOutput, renderDataTable)

S3method(citation, GScores)

exportClasses(GScores)

exportMethods(citation,
              name,
              type,
              organism,
              provider,
              providerVersion,
              referenceGenome,
              score,
              scores,
              gscores,
              qfun,
              dqfun,
              seqinfo,
              seqlengths,
              seqlevelsStyle,
              seqnames,
              gscoresNonSNRs,
              populations,
              defaultPopulation,
              "defaultPopulation<-",
              gscoresTag,
              "gscoresTag<-",
              gscoresGroup,
              "gscoresGroup<-",
              nsites,
              show)

export(GScores,
       availableGScores,
       getGScores,
makeGScoresPackage)

export(igscores)
